In [1]:
import pandas as pd

Importing dataset

In [24]:
heart_data = pd.read_csv('D:/122B1F034/Dataset/heart.csv')

In [25]:
heart_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

# DATA CLEANING

Cheack for missing dataset

In [26]:
missingValues = heart_data.isnull().sum()
missingValues

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

Removing duplicates if present

In [27]:
heartDataCleaned = heart_data.drop_duplicates()
heartDataCleaned

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

# Error Correction

Finding and removing the outliers from age,RestingBP,Cholesterol,MaxHR

Remove age outliers (reasonable age range for the dataset is 18-100)

In [28]:
ageOutliers = heartDataCleaned[(heartDataCleaned['Age'] < 18) | (heartDataCleaned['Age'] > 100)]
print("\nAge Outliers:\n", ageOutliers)

Age Outliers:
 Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

Remove cholesterol outliers (values less than 100 or greater than 600 are likely erroneous)

In [29]:
cholOutliers = heartDataCleaned[(heartDataCleaned['Cholesterol'] < 100) | (heartDataCleaned['Cholesterol'] > 600)]
print("\nCholesterol Outliers:\n", cholOutliers)

Cholesterol Outliers:
      Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
98    56   M           ASY        120           85          0     Normal
149   54   M           ASY        130          603          1     Normal
293   65   M           ASY        115            0          0     Normal
294   32   M            TA         95            0          1     Normal
295   61   M           ASY        105            0          1     Normal
..   ...  ..           ...        ...          ...        ...        ...
514   43   M           ASY        122            0          0     Normal
515   63   M           NAP        130            0          1         ST
518   48   M           NAP        102            0          1         ST
535   56   M           ASY        130            0          0        LVH
536   62   M           NAP        133            0          1         ST

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
98     140              N      0.0       Up             0
149    125              Y      1.0     Flat             1
293     93              Y      0.0     Flat             1
294    127              N      0.7       Up             1
295    110              Y      1.5       Up             1
..     ...            ...      ...      ...           ...
514    120              N      0.5       Up             1
515    160              N      3.0     Flat             0
518    110              Y      1.0     Down             1
535    122              Y      1.0     Flat             1
536    119              Y      1.2     Flat             1

[174 rows x 12 columns]

In [30]:
heartDataCleaned = heartDataCleaned[(heartDataCleaned['Cholesterol'] >= 100) & (heartDataCleaned['Cholesterol'] <= 600)]

In [31]:
heartDataCleaned

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

Remove RestingBP outliers (common blood pressure range: 80-200)

In [34]:
bpOutliers = heartDataCleaned[(heartDataCleaned['RestingBP'] < 80) | (heartDataCleaned['RestingBP'] > 200)]
print("\nRestingBP Outliers:\n", bpOutliers)
# Removing RestingBP outliers
heartDataCleaned = heartDataCleaned[(heartDataCleaned['RestingBP'] >= 80) & (heartDataCleaned['RestingBP'] <= 200)]

RestingBP Outliers:
 Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

Remove MaxHR outliers (common heart rate range: 60-220)

In [33]:
maxHROutliers = heartDataCleaned[(heartDataCleaned['MaxHR'] < 60) | (heartDataCleaned['MaxHR'] > 220)]
print("\nMaxHR Outliers:\n", maxHROutliers)
# Removing MaxHR outliers
heartDataCleaned = heartDataCleaned[(heartDataCleaned['MaxHR'] >= 60) & (heartDataCleaned['MaxHR'] <= 220)]

MaxHR Outliers:
 Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

Identify Oldpeak outliers (values outside the range of 0 to 6)

In [35]:
oldpeakOutliers = heartDataCleaned[(heartDataCleaned['Oldpeak'] < 0) | (heartDataCleaned['Oldpeak'] > 6)]
print("\nOldpeak Outliers:\n", oldpeakOutliers)
# Remove Oldpeak outliers
heartDataCleaned = heartDataCleaned[(heartDataCleaned['Oldpeak'] >= 0) & (heartDataCleaned['Oldpeak'] <= 6)]

Oldpeak Outliers:
      Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
512   35   M           NAP        123          161          0         ST
850   62   F           ASY        160          164          0        LVH

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
512    153              N     -0.1       Up             0
850    145              N      6.2     Down             1

In [36]:
print("\nData after removing Oldpeak outliers:\n", heartDataCleaned)

Data after removing Oldpeak outliers:
      Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[742 rows x 12 columns]

In [38]:
heartDataCleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 742 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             742 non-null    int64
 1   Sex             742 non-null    object
 2   ChestPainType   742 non-null    object
 3   RestingBP       742 non-null    int64
 4   Cholesterol     742 non-null    int64
 5   FastingBS       742 non-null    int64
 6   RestingECG      742 non-null    object
 7   MaxHR           742 non-null    int64
 8   ExerciseAngina  742 non-null    object
 9   Oldpeak         742 non-null    float64
 10  ST_Slope        742 non-null    object
 11  HeartDisease    742 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 75.4+ KB